astroid==2.4.1
awsebcli==3.18.1
botocore==1.15.49
cement==2.8.2
certifi==2020.4.5.2
chardet==3.0.4
colorama==0.4.3
docutils==0.15.2
future==0.16.0
idna==2.7
isort==4.3.21
jmespath==0.10.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pathspec==0.5.9
pylint==2.5.2
pypiwin32==223
python-dateutil==2.8.0
pywin32==227
PyYAML==5.3.1
requests==2.20.1
semantic-version==2.5.0
six==1.15.0
termcolor==1.1.0
toml==0.10.1
urllib3==1.24.3
wcwidth==0.1.9
wrapt==1.12.1
